* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header {
    width: 100%;
    height: 50px;
    background-color: #fff;
}

.header_content {
    width: 1160px;
    height: 50px;
    margin: 0 371.5px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
}

.banner {
    width: 100%;
    height: 454px;
    position: relative;
    background-image: url(游戏img/home_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
}


.slideshow_content {
    width: 1160px;
    height: 300px;
    margin-top: 52px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* position: relative; */
    /* background: #24b8f2; */
}

.back_button {
    position: absolute;
    left: 10px;
    top: 130px;
    z-index: 130;
    opacity: 0;
    transition: all 0.5s;
}

.back_button svg,
.next_button svg {
    width: 36px;
    height: 36px;
}

.next_button {
    position: absolute;
    z-index: 130;
    top: 130px;
    right: 10px;
    opacity: 0;
    transition: all 0.5s;
}

/* 艾丝图片 */
.slideshow_img1 img {
    width: 660px;
    height: 220px;
    border-radius: 10px;
    position: absolute;
    top: 40px;
    z-index: 110;
    filter: brightness(75%);
    transition: all 0.5s;
}

/* 蛋仔派对图片 */
.slideshow_img2 img {
    width: 960px;
    height: 300px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    transform: translateX(100px);
    z-index: 120;
    filter: brightness(100%);
    transition: all 0.5s;
}

/* dnf图片 */
.slideshow_img3 img {
    width: 660px;
    height: 220px;
    border-radius: 10px;
    position: absolute;
    top: 40px;
    transform: translateX(500px);
    z-index: 110;
    filter: brightness(75%);
    transition: all 0.5s;
}

.list {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 380px;
    /* background-color: aqua; */
}


.list_content {
    width: 1160px;
    height: 14px;
    display: flex;
    justify-content: center;
}

.li {
    width: 8px;
    height: 8px;
    margin: 0 8px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    transition: all 0.5s;
}

.active {
    width: 8px;
    height: 8px;
    margin: 0 8px;
    border-radius: 100%;
    background-color: rgb(36, 184, 242);
    transition: all 0.5s;
}

.header_left {
    width: 636px;
    height: 50px;
    /* background-color: black; */
    display: flex;
    /* align-items: center; */
}

.header_right {
    width: 312px;
    height: 50px;
    display: flex;
    align-items: center;
    /* background-color: blue; */
}

.header_logo {
    width: 95px;
    height: 24px;
    margin-top: 12px;
    margin-right: 40px;
    /* background-color: aqua; */
}

.header_logo img {
    width: 95px;
    height: 23px;
}

.header_icon img {
    width: 20px;
    height: 21px;
}

.header_nav span {
    font-size: 14px;
}

.header_nav {
    /* width: 501px; */
    height: 22px;
    list-style: none;
    display: flex;
    /* background-color:aquamarine; */
    margin: auto 0;
}

.header_nav li {
    /* width: 70px; */
    height: 22px;
    margin-left: 18px;
    font-size: 14px;
    display: flex;
    color: rgb(33, 33, 33);
    align-items: center;
    transition: all 0.3s;
    cursor: pointer;
}

.header_nav li:hover {
    color: rgb(36, 184, 242);
}

.header_icon {
    width: 20px;
    height: 22px;
    margin-right: 2px;
}

.header_nav li:nth-child(1) {
    width: 50px;
    margin-left: 0px;
}

.header_nav li:nth-child(2) {
    color: rgb(36, 184, 242);
}

.seach {
    width: 240px;
    height: 32px;
    display: flex;
    position: relative;
    align-items: center;
}

.seach input {
    width: 180px;
    height: 32px;
    padding: 0 40px 0 20px;
    background-color: rgb(242, 244, 246);
    /* border: 1px solid rgba(0, 0, 0, 0.4); */
    border: 1px solid rgb(242, 244, 246);
    outline: none;
    border-radius: 16px;
}

.seach input::placeholder {
    color: rgba(117, 117, 117);
}

.seach svg {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 15px;
    color: rgb(174, 183, 201);
}

.user {
    width: 72px;
    height: 32px;
    position: relative;
}

.user img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    position: absolute;
    right: 0;
}

.contaniner {
    width: 1160px;
    /* height: 3638px; */
    margin: 0 auto;
}

/* 推荐 */
.recommend_content {
    width: 1160px;
    height: 232px;
    /* background-color: blue; */
    /* margin: 0 auto; */
}

.recommend {
    width: 100%;
    height: 32px;
    /* background-color: aqua; */
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
}

.recommend_buttom {
    width: 1160px;
    height: 218px;
    /* background-color: black; */
    display: flex;
}

.recommend_nav {
    width: 270px;
    height: 184px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 16px 24px 16px 0px;
    /* background-color: blue; */
    border-radius: 10px;
    font-size: 0;
    transition: all 0.3s;
}

.recommend_nav:hover {
    box-shadow: 0 8px 16px 0 rgba(5, 45, 75, .2);
}


.recommend_nav:last-child {
    margin: 16px 0px;
}

.recommend_nav_top img {
    width: 270px;
    height: 105px;
    border-radius: 10px 10px 0 0;
}

.recommend_nav_buttom {
    width: 270px;
    height: 67px;
    padding-top: 12px;
    /* background-color: #fff; */
    border-radius: 0 0 10px 10px;
}

.recommend_title {
    width: 230px;
    height: 24px;
    color: rgba(0, 0, 0, 0.85);
    /* background-color: aqua; */
    font-size: 16px;
    margin: 0 auto;
}

.display_inf {
    width: 230px;
    height: 11px;
    padding: 2px 20px 9px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    transition: all 0.3s;
}

.recommend_inf {
    width: 232px;
    height: 22px;
    padding: 8px 18px 13px 20px;
    display: flex;
    justify-content: space-between;
}

.recommend_inf_left {
    /* width: 101px; */
    height: 22px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
}

.recommend_inf_left svg {
    width: 14px;
    height: 14px;
    fill: rgb(125, 214, 250);
}

.recommend_inf_left_score {
    padding: 0 4px;
    font-size: 16px;
}

.recommend_inf_left_comment {
    color: rgba(0, 0, 0, 0.35);
    font-size: 12px;

}

.recommend_inf_right {
    /* width: 65px; */
    height: 22px;
    /* background-color: aqua; */
}

.recommend_inf_right_type {
    display: inline-block;
    /* width: 48px; */
    height: 20px;
    padding: 0 6px 0 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: 6px;
    border-left: none;
    position: relative;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
    line-height: 22px;
    border-radius: 0 5px 5px 0;
}

.recommend_inf_right_type::before {
    position: absolute;
    left: -7px;
    top: 10px;
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    /* border-radius: 1px; */
    transform: translateY(-50%) rotate(50deg) skew(10deg);
}



.recommend_inf_right_type:hover {
    color: #24b8f2;
    border-color: #24b8f2;

}

.recommend_inf_right_type:hover::before {
    border-color: #24b8f2;
}

.new_play {
    width: 1160px;
    height: 380px;
    /* background-color: aquamarine; */
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
}

.new_play_header {
    width: 1160px;
    height: 32px;
    margin-bottom: 16px;
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 332px;
}

.new_play_title span {
    font-size: 24px;
}


.more {
    /* width: 52px; */
    height: 22px;
    border: 1px solid rgb(218, 222, 230);
    border-radius: 6px;
}

.more:hover {
    background-color: #f2f4f6;
}

.more span {
    color: rgba(0, 0, 0, 0.6);
    width: 24px;
    height: 22px;
    margin: 0 2px 0 10px;
}

.more span::after {
    content: ">";
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    margin-right: 4px;
}

.new_play_img_special {
    width: 1160px;
    height: 288px;
    background-image: url(游戏img/兔兔岛.png);
    transition: all 0.5s;
    opacity: 1;
}

.new_play_img {
    width: 1160px;
    height: 288px;
    opacity: 0;
    display: none;
    transition: all 0.5s;
}

.new_play_inf {
    width: 1080px;
    height: 133px;
    padding: 126px 40px 0 40px;
    /* background-color: aqua; */
}

.new_content_title {
    width: 1080px;
    height: 26px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.new_content_detail {
    width: 1080px;
    height: 20px;
    margin-top: 8px;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.new_content_appoint {
    width: 1080px;
    height: 21px;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.new_content_appoint span {
    font-size: 18px;
    font-weight: 700;
}

.new_content_button {
    width: 180px;
    height: 36px;
    margin-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.0);
    color: #fff;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
}

.new_content_button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.new_play_nav {
    width: 1160px;
    height: 80px;
    /* background-color: aqua; */
    padding-top: 20px;
    display: flex;
    position: relative;
    align-items: center;
}

.new_nav_content {
    width: 194px;
    height: 56px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    opacity: 0.35;
    padding: 10px 11px;
    margin-right: 15px;
    border-radius: 10px;
    color: #000;
    display: flex;
    align-items: center;
}

.new_nav_content_special {
    width: 194px;
    height: 56px;
    border: 1px solid rgb(36, 184, 242);
    padding: 10px 11px;
    margin-right: 15px;
    border-radius: 10px;
    color: #000;
    display: flex;
    align-items: center;
    transition: all 0.5s;
}

.new_nav_content img,
.new_nav_content_special img {
    width: 58px;
    height: 60px;
    border-radius: 10px;
}

.new_nav_content_detail {
    width: 126px;
    height: 37px;
    margin-left: 10px;
    /* background-color: #24b8f2; */
}

.new_play_type {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
}

.new_play_icon {
    border-width: 0 7px 8px;
    border-style: solid;
    border-color: transparent transparent #98a2ab;
    position: absolute;
    bottom: 40px;
    right: -28px;
    transform: rotate(90deg);
}

.new_play_icon:hover {
    border-color: transparent transparent #24b8f2;
}

.find_arrow {
    border-width: 0 5px 6px;
    border-style: solid;
    border-color: transparent transparent #24b8f2;
    height: 6px;
    top: 3px;
    left: 41px;
    position: absolute;
    transition: all 0.5s;
}

.game_interface {
    width: 1160px;
    /* height: 2386px; */
    margin-top: 60px;
    /* background-color: aqua; */
    display: flex;
}

.game_face_nav {
    width: 750px;
    /* height: 2386px; */
    background-color: white;
}

.game_nav_content {
    width: 750px;
    height: 378px;
    margin-bottom: 20px;
    /* background-color: #000; */
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 0;
}

.game_nav_content_img {
    width: 750px;
    height: 280px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.game_nav_content_img img {
    width: 750px;
    height: 280px;
    /* border-radius: 10px 10px 0 0; */
    transition: all 0.5s;
}

.game_nav_inf {
    width: 710px;
    height: 60px;
    padding: 16px 20px 20px;
    display: flex;
    justify-content: space-between;
    /* background: #000; */
}

.game_inf_left {
    width: 556px;
    height: 60px;
    /* background-color: #000; */
    display: flex;
}

.game_inf_left img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.game_detail {
    width: 480px;
    height: 60px;
    margin-left: 16px;
}

.game_name {
    width: 480px;
    height: 26px;
    padding: 2px 0 4px;
    font-size: 20px;
}

.game_type {
    width: 420px;
    height: 22px;
    padding-top: 4px;
    font-size: 14px;
}

.game_inf_right {
    width: 137px;
    height: 44px;
    display: flex;
    /* background-color: #000; */
}

.game_score {
    width: 47px;
    height: 44px;
    margin-right: 10px;
    font-size: 36px;
}

.game_mark {
    width: 80px;
    height: 34px;
    padding-top: 6px;
}

.game_star {
    width: 80px;
    height: 14px;
}

.game_star>svg {
    width: 14px;
    height: 14px;
    margin-right: 2px;
    fill: rgb(125, 214, 250);
}

.game_star>span>svg {
    width: 14px;
    height: 14px;
    margin-right: 2px;
    fill: rgb(231, 237, 243);
}

.fill_star1 {
    position: relative;
}

.broken_star1 {
    fill: rgb(125, 214, 250);
    width: 4px;
    height: 14px;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 3;
}

.broken_star2 {
    fill: rgb(125, 214, 250);
    width: 12px;
    height: 14px;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 3;
}

.broken_star3 {
    fill: rgb(125, 214, 250);
    width: 4px;
    height: 14px;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 3;
}

.broken_star4 {
    fill: rgb(125, 214, 250);
    width: 10px;
    height: 14px;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 3;
}

.broken_star1 svg,
.broken_star2 svg,
.broken_star3 svg,
.broken_star4 svg {
    width: 14px;
    height: 14px;
}

.people_mark {
    /* width: 44px; */
    height: 20px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
}

.load_more {
    width: 750px;
    height: 50px;
    padding: 40px 0 100px;
    /* position: absolute; */
}

.load_more_content {
    width: 750px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.load_more_content span {
    width: 300px;
    height: 48px;
    border: 1px solid rgb(218, 222, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

.load_more_img {
    width: 585px;
    height: 112px;
    margin: 100px 82.5px 0;
    background-image: url(游戏img/尽头.png);
    position: relative;
    bottom: 160px;
    display: none;
    transition: all 0.5s;
}

.load_more_img p {
    position: absolute;
    top: 30px;
    left: 225px;
    color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
}

.game_face_right {
    width: 350px;
    /* height: 2000px; */
    /* background-color: #000; */
    margin-left: 60px;
}

.game_list_title {
    width: 350px;
    height: 32px;
    margin-bottom: 8px;
    /* background-color: #24b8f2; */
    display: flex;
    justify-content: space-between;

}

.game_hot_list {
    width: 87px;
    height: 32px;
    font-size: 24px;
}

.game_list_more {
    width: 52px;
    height: 22px;
    border-radius: 6px;
    align-self: center;
    border: 1px solid rgb(218, 222, 230);
}

.game_list_more span:first-child {
    font-size: 12px;
    line-height: 22px;
    margin: 0 1px 0 10px;
}

.game_list_more span svg {
    line-height: 22px;
    width: 8px;
    height: 8px;
}

.game_list_more:hover {
    background-color: rgb(242, 244, 246);
}

.hot_rank {
    width: 350px;
    height: 450px;
}

.hot_rank_content {
    width: 350px;
    height: 90px;
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.hot_rank_content:first-child {
    border-top: none;
}

.list_num {
    width: 48px;
    height: 90px;
    /* background-color: #98a2ab; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list_num svg {
    width: 48px;
    height: 48px;
}

.list_num span {
    width: 48px;
    height: 48px;
    font-size: 20px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.3);
    line-height: 48px;
}

.game_hot_content {
    width: 310px;
    height: 89px;
    /* background-color: #24b8f2; */
    display: flex;
    align-items: center;
}

.game_hot_img {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
}

.game_hot_img img {
    width: 60px;
    height: 60px;
    border-radius: 14px;
}

.game_des {
    width: 234px;
    height: 73px;
    margin: 8px 0 8px 16px;
    /* background-color: aqua; */
}

.gameName {
    width: 234px;
    height: 22px;
    margin-bottom: 5px;
    font-size: 14px;
}

.gameName:hover {
    color: rgb(36, 184, 242);
}

.hot_game_type {
    width: 234px;
    height: 22px;
}

.hot_inf_right_type {
    display: inline-block;
    /* width: 48px; */
    height: 20px;
    padding: 0 6px 0 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: 6px;
    border-left: none;
    position: relative;
    font-size: 12px;
    margin-right: 6px;
    color: rgba(0, 0, 0, 0.3);
    line-height: 22px;
    border-radius: 0 5px 5px 0;
}

.hot_inf_right_type::before {
    position: absolute;
    left: -7px;
    top: 10px;
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    /* border-radius: 1px; */
    transform: translateY(-50%) rotate(50deg) skew(10deg);
}

.hot_inf_right_type:hover {
    color: #24b8f2;
    border-color: #24b8f2;
}

.hot_inf_right_type:hover::before {
    border-color: #24b8f2;
}

.hot_game_mark {
    /* width: 95px; */
    height: 22px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    /* background-color: #98a2ab; */
}

.hot_game_star {
    /* width: 70px; */
    height: 22px;
}

.hot_game_star>svg {
    width: 12px;
    height: 12px;
    margin-right: 2px;
    fill: rgb(174, 183, 201);
}

.hot_fill_star>svg {
    width: 12px;
    height: 12px;
    fill: rgb(231, 237, 243);

}

.hot_fill_star {
    position: relative;
}

.hot_broken_star1 {
    display: inline-block;
    width: 7px;
    height: 20px;
    overflow: hidden;
    position: absolute;
    left: 0;
    z-index: 3;
}

.hot_broken_star2 {
    display: inline-block;
    width: 3px;
    height: 20px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}

.hot_broken_star3 {
    display: inline-block;
    width: 3px;
    height: 20px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}

.hot_broken_star4 {
    display: inline-block;
    width: 1.7px;
    height: 20px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}

.hot_broken_star5 {
    display: inline-block;
    width: 3.5px;
    height: 20px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}

.hot_broken_star1 svg,
.hot_broken_star2 svg,
.hot_broken_star3 svg,
.hot_broken_star4 svg,
.hot_broken_star5 svg {
    width: 12px;
    height: 12px;
    fill: rgb(174, 183, 201);
}

.hot_game_scroe {
    padding-left: 6px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

/* 底部导航栏 */
.footer {
    width: 100%;
    height: 260px;
    /* background-color: #000; */
}

.footer_content {
    width: 1160px;
    height: 260px;
    margin: 0 auto;
    /* background-color: #24b8f2; */
}

.footer_logo {
    width: 1160px;
    height: 70px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.footer_logo_left {
    width: 195px;
    height: 70px;
    display: flex;
}

.footer_bilibili_logo {
    width: 142px;
    height: 36px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(游戏img/bilibili_icon.png);
}

.footer_culture_logo {
    width: 24px;
    height: 28px;
    margin-left: 25px;
    margin-top: 8px;
    padding-left: 4px;
    background-size: 100%;
    background-image: url(游戏img/网络文化.png);
}

.footer_logo_right {
    width: 240px;
    height: 70px;
    /* background-color: #24b8f2; */
    display: flex;
}

.footer_logo_right a {
    width: 50px;
    height: 70px;
    margin-left: 30px;
    text-decoration: none;
    text-align: center;
}

.footer_logo_right a:hover {
    color: rgb(36, 184, 242);
}

.footer_icon1 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgb(123, 205, 239);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_icon2 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgb(139, 210, 155);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_icon3 {
    background-color: rgb(255, 141, 138);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_icon1 svg,
.footer_icon2 svg,
.footer_icon3 svg {
    width: 28px;
    color: #fff;
    height: 29px;
}


.footer_icon_nav {
    width: 50px;
    height: 16px;
    padding-top: 4px;
    font-size: 12px;
}

.list_nav {
    width: 1160px;
    height: 22px;
    padding: 12px 0 22px;
    border-bottom: 1px solid rgb(231, 232, 232);
}

.list_nav ul {
    width: 1160px;
    height: 22px;
    display: flex;
}

.footer_nav {
    width: 56px;
    height: 22px;
    margin-right: 30px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}

.footer_buttom {
    width: 1160px;
    height: 60px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.footer_buttom_left p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
}

.footer_buttom_right {
    width: 334px;
    position: relative;
    height: 60px;
}

.footer_buttom_right p {
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
}

.footer_buttom_right p span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 2px;
    background-image: url(游戏img/公安.png);
}

.footer_inf {
    color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 40px;
}